/*
 *
 *
 */



#container {
	width: 720px;
	margin: auto;
	display: block;
}



h1 {
	/* TODO: Style me */
	font-family: Helvetica;
	font-size: 32pt;
	text-shadow: 2pt 2pt 3pt #14C6D6;
}



#myveryowncanvas {
	width: 720px;
	height: 480px;

	padding: 0pt;

	background-color: #20B8F8;
}